<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='styles/main.css'>
     <!-- <script src='main.js'></script> -->
     <script src="https://unpkg.com/htmx.org@1.9.12"></script>
</head>
<body>
    <header>
        <div>
            <img src="images/lulanaro.webp" width="120px" height="90px">
            <p>nosso header</p>
        </div>
    </header>

    <main>

        <h2>Redes disponíveis:</h2>
        <div class="logo-link-container">
            <a class="logo-link" href="/instagram-insight"><img src="images/instagram.webp" ></a>
            <a class="logo-link" href="/x-insight"><img src="images/x.webp" ></a>
            <a class="logo-link" href="/youtube-insight"><img src="images/youtube.webp" ></a>
            <a class="logo-link" href="/linkedin-insight"><img src="images/linkedin.webp" ></a>
        </div>
    </main>

    <hr/>

    <section>
        <h2>Suas configurações:</h2>
        <div class="logo-link-container">
            <a class="logo-link" href="/profile-settings"><img src="images/profile-settings.webp" ></a>
            <a class="logo-link" href="/payment-settings"><img src="images/payment-settings.webp" ></a>
        </div>
    </section>

    <footer></footer>
</body>
</html>